body {
    margin: 0;
    padding: 0;
    background-image: url('../img/heart.jpg');
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif ;
    /* filter: invert(100%); */
}
    @keyframes background {
        0%{background-color: rgb(45, 64, 128);
        }
        25%{
            background-color:rgb(221, 220, 133);
        }
        50%{
            background-color: rgb(38, 77, 62);
        }
        75%{
            background-color:rgb(109, 13, 77);
        }
        100%{
            background-color: rgb(170, 166, 162);
        }
        
    }
    
.login{
    width: 380px;
    height: 420px;
    background-color: black;
    animation: background 25s ease  infinite ;
    color: white;
    top: 80px;
    left: 50%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(-50% -50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    
     
}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

    .login input{
        width: 100%;
        margin-bottom: 20px;
    }

    .login input[type="text"],input[type="password"]
    {
        background:transparent;
        height: 40px;
        color: white;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        border: none;
        /* outline: none; */
        
    }
    .login input[type="submit"]
    {
        background: orangered;
        height: 40px;
        color: white;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        outline:none;
    
    }
    .login input[type="submit"]:hover
    {
        background-color:rgb(80, 112, 255);
        color: white;
        cursor: pointer;
        text-align: center;
    }
    .login a{
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: rgb(202, 96, 8);
        text-align: center;
    }
    .login a:hover{
        color:rgb(36, 192, 240);
    }

    
